* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lavender;
}

#Header #logo {
  width: 140px;
  height: 60px;
}

@media screen and (max-width: 500px) {
  #Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 425px) {
  #Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
}

#Header #HeaderWithoutLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 700px) {
  #Header #HeaderWithoutLogo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 425px) {
  #Header #HeaderWithoutLogo {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#Header #HeaderWithoutLogo #Rayons {
  width: 10%;
  height: 50px;
  border: .7px solid #2b3336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #Header #HeaderWithoutLogo #Rayons {
    width: 12.5%;
  }
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #Rayons {
    border: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1500px) {
  #Header #HeaderWithoutLogo #Rayons {
    width: 15%;
  }
}

@media screen and (max-width: 425px) {
  #Header #HeaderWithoutLogo #Rayons {
    width: 20%;
    background-color: none;
  }
}

#Header #HeaderWithoutLogo #Rayons img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 1500px) {
  #Header #HeaderWithoutLogo #Rayons img {
    width: 30px;
  }
}

@media screen and (max-width: 1024px) {
  #Header #HeaderWithoutLogo #Rayons img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #Rayons img {
    width: 35px;
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  #Header #HeaderWithoutLogo #Rayons img {
    width: 35px;
    height: auto;
  }
}

#Header #HeaderWithoutLogo #Rayons p {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #2b3336;
}

@media screen and (max-width: 1024px) {
  #Header #HeaderWithoutLogo #Rayons p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #Rayons p {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  #Header #HeaderWithoutLogo #Rayons p {
    font-size: 11px;
  }
}

#Header #HeaderWithoutLogo #Recherche {
  height: 50px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: .7px solid #2b3336;
  border-radius: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #Header #HeaderWithoutLogo #Recherche {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #Recherche {
    display: none;
  }
}

#Header #HeaderWithoutLogo #Recherche input {
  height: 50px;
  width: 90%;
  border: 0;
  background: transparent;
  padding-left: 20px;
}

#Header #HeaderWithoutLogo #Recherche button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

#Header #HeaderWithoutLogo #Recherche button img {
  width: 45%;
  height: 30px;
  margin-left: 10px;
}

#Header #HeaderWithoutLogo #RechercheMobile {
  height: auto;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: transparent;
  border-radius: 25px;
  display: none;
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #RechercheMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-transition: width 2s;
    transition: width 2s;
  }
}

@media screen and (max-width: 375px) {
  #Header #HeaderWithoutLogo #RechercheMobile {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

#Header #HeaderWithoutLogo #RechercheMobile button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

#Header #HeaderWithoutLogo #RechercheMobile button img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

#Header #HeaderWithoutLogo #RechercheMobile p {
  font-size: 11px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #Header #HeaderWithoutLogo #RechercheMobile p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #RechercheMobile p {
    font-size: 11px;
    font-weight: 700;
  }
}

#Header #HeaderWithoutLogo #Moncompte {
  width: 90px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  #Header #HeaderWithoutLogo #Moncompte {
    width: 20%;
  }
}

#Header #HeaderWithoutLogo #Moncompte #profil {
  height: 45px;
  width: 45px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #Header #HeaderWithoutLogo #Moncompte #profil {
    width: 45px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #Moncompte #profil {
    width: 35px;
    height: auto;
  }
}

#Header #HeaderWithoutLogo #Moncompte p {
  font-size: 11px;
  font-family: "Jost", sans-serif;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #Header #HeaderWithoutLogo #Moncompte p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  #Header #HeaderWithoutLogo #Moncompte p {
    font-size: 11px;
    font-weight: 700;
  }
}

#Header #Panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 10%;
  height: 80px;
  background-color: white;
  border: 2px solid transparent;
  border-bottom-left-radius: 25px;
}

@media screen and (max-width: 768px) {
  #Header #Panier {
    width: 35%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 425px) {
  #Header #Panier {
    width: 25%;
  }
}

#Header #Panier button {
  border: 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

#Header #Panier button img {
  width: 45px;
  height: 45px;
  margin-left: 20px;
}

#Header #Panier button p {
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  margin-left: 20px;
}

#Header #CliqueSearchMobile {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lavender;
  display: none;
}

@media screen and (max-width: 425px) {
  #Header #CliqueSearchMobile {
    display: none;
  }
}

#Header #CliqueSearchMobile div {
  width: 70%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lavender;
  float: left;
}

#Header #CliqueSearchMobile div #Recherche1 {
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: .7px solid #2b3336;
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

#Header #CliqueSearchMobile div #Recherche1 input {
  height: 60px;
  width: 90%;
  border: 0;
  background: transparent;
  padding-left: 20px;
}

#Header #CliqueSearchMobile div #Recherche1 button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

#Header #CliqueSearchMobile div #Recherche1 button img {
  width: 45%;
  height: 30px;
  margin-left: 10px;
}

#Header #CliqueSearchMobile div p {
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  margin: auto 0;
  margin-left: 20px;
  text-decoration: underline;
  float: left;
  cursor: pointer;
}

#Header #CliqueSearchMobile #Panier1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 25%;
  height: 80px;
  border: 2px solid transparent;
  border-bottom-left-radius: 25px;
  margin-left: 30px;
}

@media screen and (max-width: 425px) {
  #Header #CliqueSearchMobile #Panier1 {
    width: 27.5%;
  }
}

@media screen and (max-width: 375px) {
  #Header #CliqueSearchMobile #Panier1 {
    width: 26.5%;
  }
}

@media screen and (max-width: 320px) {
  #Header #CliqueSearchMobile #Panier1 {
    width: 25.5%;
  }
}

#Header #CliqueSearchMobile #Panier1 button {
  border: 0;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

#Header #CliqueSearchMobile #Panier1 button img {
  width: 45px;
  height: 45px;
  margin-left: 20px;
}

#Header #CliqueSearchMobile #Panier1 button p {
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  margin-left: 20px;
}

#Popup {
  width: 98%;
  margin-left: 1%;
  height: 700px;
  margin-top: 1%;
  -webkit-box-shadow: #2b3336;
          box-shadow: #2b3336;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: none;
}

#Popup #Barreclose {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#Popup #Barreclose #Pcat {
  width: 97%;
  margin: auto 0;
  padding-top: 10px;
}

#Popup #Barreclose #Pcat p {
  font-size: 22px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  text-align: center;
}

#Popup #Barreclose button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

#Popup #Barreclose button #close {
  width: 3%;
  height: auto;
}

@media screen and (max-width: 425px) {
  #Popup #Barreclose button #close {
    width: 80%;
  }
}

#Popup #Categories {
  width: 80%;
  height: 90%;
  margin-top: 20px;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Popup #Categories .Categorie {
  width: 10%;
  height: 170px;
  margin-left: 5%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 1024px) {
  #Popup #Categories .Categorie {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  #Popup #Categories .Categorie {
    width: 20%;
  }
}

@media screen and (max-width: 425px) {
  #Popup #Categories .Categorie {
    width: 45%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 375px) {
  #Popup #Categories .Categorie {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
  }
}

#Popup #Categories .Categorie img {
  width: 100px;
  height: 100px;
  margin-left: 25px;
}

@media screen and (max-width: 425px) {
  #Popup #Categories .Categorie img {
    width: 50px;
    height: 50px;
  }
}

#Popup #Categories .Categorie p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Jost", sans-serif;
  text-align: center;
}

@media screen and (max-width: 425px) {
  #Popup #Categories .Categorie p {
    margin-top: 10%;
    font-size: 11px;
    font-weight: 200;
  }
}
/*# sourceMappingURL=header+footer.css.map */