* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fontP : 'Jost',
sans-serif;
$color1:#f7f7f7;

@mixin FlexR() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin FlexC() {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}





#Header {
    // position: fixed;
    @include FlexR();
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    background-color: lavender;
    // position: fixed;

    #logo {
        width: 140px;
        height: 60px;
    }

    @media screen and(max-width:500px) {
        @include FlexC();
    }

    @media screen and(max-width:425px) {
        @include FlexC();
        justify-content: flex-start;
        height: auto;
    }

    #HeaderWithoutLogo {

        @include FlexR();
        width: 90%;
        justify-content: space-between;
        align-items: center;

        @media screen and(max-width:768px) {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        @media screen and(max-width:700px) {
            justify-content: flex-end;

        }

        @media screen and(max-width:425px) {
            width: 100%;
            justify-content: space-around;

        }


        #Rayons {
            width: 10%;
            height: 50px;
            border: .7px solid #2b3336;
            @include FlexR();
            align-items: center;
            align-content: center;
            justify-content: space-around;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            cursor: pointer;
            //background-color: white;


            @media screen and (max-width:1024px) {
                width: 12.5%;

            }


            @media screen and(max-width:768px) {
                border: transparent;
                @include FlexC();
            }

            @media screen and(max-width:1500px) {
                width: 15%;
            }

            @media screen and(max-width:425px) {
                width: 20%;
                background-color: none;
            }

            img {

                width: 35px;
                height: 35px;

                @media screen and (max-width:1500px) {
                    width: 30px;

                }

                @media screen and (max-width:1024px) {
                    width: 25px;
                    height: 25px;

                }

                @media screen and(max-width:768px) {
                    width: 35px;
                    height: auto;
                }

                @media screen and(max-width:425px) {
                    width: 35px;
                    height: auto;
                }
            }

            p {
                font-family: $fontP;
                font-weight: 700;
                font-size: 19px;
                color: #2b3336;

                @media screen and (max-width:1024px) {
                    font-size: 15px;
                }

                @media screen and(max-width:768px) {
                    font-size: 16px;
                }

                @media screen and(max-width:425px) {
                    font-size: 11px;

                }



            }
        }

        #Recherche {
            height: 50px;
            width: 50%;
            @include FlexR();
            border: .7px solid #2b3336;
            border-radius: 25px;
            cursor: pointer;
            //background-color: white;

            @media screen and(max-width:1024px) {
                width: 40%;
            }

            @media screen and(max-width:768px) {
                display: none;
            }

            input {
                height: 50px;
                width: 90%;
                border: 0;
                background: transparent;
                padding-left: 20px;


            }

            button {
                border: 0;
                background: transparent;
                cursor: pointer;

                img {
                    width: 45%;
                    height: 30px;
                    margin-left: 10px;
                }
            }
        }

        #RechercheMobile {
            height: auto;
            width: 20%;
            @include FlexC();
            border: transparent;
            border-radius: 25px;
            display: none;

            @media screen and(max-width:768px) {
                display: flex;
                width: 20%;
                transition: width 2s;
            }

            @media screen and(max-width:375px) {
                justify-content: start;
            }

            button {
                border: 0;
                background: transparent;
                cursor: pointer;

                img {
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                }
            }

            p {
                font-size: 11px;
                font-weight: 700;
                font-family: $fontP;
                margin: 0 auto;

                @media screen and (max-width:1024px) {
                    font-size: 12px;
                }

                @media screen and(max-width:768px) {
                    font-size: 11px;
                    font-weight: 700;
                }
            }

        }

        #Moncompte {
            width: 90px;
            height: auto;
            @include FlexC();
            align-items: center;
            align-content: center;
            justify-content: space-around;
            cursor: pointer;

            @media screen and(max-width:425px) {
                width: 20%;
            }

            #profil {
                height: 45px;
                width: 45px;
                margin: 0 auto;

                @media screen and (max-width:1024px) {
                    width: 45px;
                    height: auto;
                }

                @media screen and(max-width:768px) {
                    width: 35px;
                    height: auto;
                }
            }


            p {
                font-size: 11px;
                font-family: $fontP;
                margin: 0 auto;

                @media screen and (max-width:1024px) {
                    font-size: 12px;
                }

                @media screen and(max-width:768px) {
                    font-size: 11px;
                    font-weight: 700;
                }
            }
        }

    }

    #Panier {
        @include FlexR();
        flex-wrap: wrap;
        width: 10%;
        height: 80px;
        background-color: white;
        border: 2px solid transparent;
        border-bottom-left-radius: 25px;



        @media screen and(max-width:768px) {
            width: 35%;
            justify-content: space-around;
        }

        @media screen and(max-width:425px) {
            width: 25%;
        }


        button {
            border: 0;
            background: transparent;
            @include FlexR();
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;

            img {
                width: 45px;
                height: 45px;
                margin-left: 20px;

            }

            p {
                font-size: 18px;
                font-family: $fontP;
                font-weight: 700;
                margin-left: 20px;
            }
        }

    }

    #CliqueSearchMobile {
        width: 100%;
        height: auto;
        @include FlexR();
        align-items: center;
        justify-content: space-between;
        background-color: lavender;
        display: none;

        @media screen and(max-width:425px) {
            display: none;
        }

        div {
            width: 70%;
            height: 80px;
            @include FlexR();
            justify-content: space-between;
            background-color: lavender;
            float: left;

            #Recherche1 {
                width: 90%;
                height: 60px;
                @include FlexR();
                border: .7px solid #2b3336;
                border-radius: 25px;
                cursor: pointer;
                justify-content: space-between;
                margin-top: 10px;

                input {
                    height: 60px;
                    width: 90%;
                    border: 0;
                    background: transparent;
                    padding-left: 20px;
                }

                button {
                    border: 0;
                    background: transparent;
                    cursor: pointer;

                    img {
                        width: 45%;
                        height: 30px;
                        margin-left: 10px;
                    }
                }
            }

            p {
                font-size: 15px;
                font-family: $fontP;
                font-weight: 700;
                margin: auto 0;
                margin-left: 20px;
                text-decoration: underline;
                float: left;
                cursor: pointer;

            }
        }

        #Panier1 {
            @include FlexR();
            //flex-wrap: wrap;
            width: 25%;
            height: 80px;
            // background-color: green;
            border: 2px solid transparent;
            border-bottom-left-radius: 25px;
            margin-left: 30px;



            @media screen and(max-width:425px) {
                width: 27.5%;

            }

            @media screen and(max-width:375px) {
                width: 26.5%;

            }

            @media screen and(max-width:320px) {
                width: 25.5%;

            }


            button {
                border: 0;
                background: transparent;
                @include FlexR();
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;

                img {
                    width: 45px;
                    height: 45px;
                    margin-left: 20px;

                }

                p {
                    font-size: 18px;
                    font-family: $fontP;
                    font-weight: 700;
                    margin-left: 20px;
                }
            }

        }
    }
}

#Popup {
    width: 98%;
    margin-left: 1%;
    height: 700px;
    margin-top: 1%;
    box-shadow: #2b3336;
    background-color: white;
    box-sizing: border-box;
    padding: .5%;
    @include FlexC();
    display: none;

    #Barreclose {
        width: 100%;
        height: 50px;
        @include FlexR();



        #Pcat {
            width: 97%;
            margin: auto 0;
            padding-top: 10px;

            p {
                font-size: 22px;
                font-weight: 700;
                font-family: $fontP;
                text-align: center;
            }
        }

        button {
            cursor: pointer;
            border: 0;
            background-color: transparent;



            #close {
                width: 3%;
                height: auto;

                @media screen and(max-width:425px) {
                    width: 80%;
                }
            }

        }

    }

    #Categories {
        width: 80%;
        height: 90%;
        margin-top: 20px;
        margin-left: 10%;
        @include FlexR();
        flex-wrap: wrap;



        .Categorie {
            width: 10%;
            height: 170px;
            margin-left: 5%;
            margin-top: 2%;
            @include FlexC();

            @media screen and(max-width:1024px) {
                width: 15%;
            }

            @media screen and(max-width:768px) {
                width: 20%;
            }

            @media screen and(max-width:425px) {
                width: 45%;
                height: 50px;
                @include FlexR();
                justify-content: space-between;

            }

            @media screen and(max-width:375px) {
                width: 33%;
                //height: 150px;
                @include FlexC();
                margin-top: 50px;
                //justify-content: space-around;

            }

            img {
                width: 100px;
                height: 100px;
                margin-left: 25px;

                @media screen and(max-width:425px) {
                    //margin-left: -25px;
                    width: 50px;
                    height: 50px;

                }

            }

            p {
                font-size: 16px;
                font-weight: 300;
                font-family: $fontP;
                text-align: center;

                @media screen and(max-width:425px) {
                    margin-top: 10%;
                    font-size: 11px;
                    font-weight: 200;
                    // display: none;
                }
            }
        }


    }

}